.picture-link {
    text-decoration: none; 
    /* color: white; */
}

.picture-link:hover{
    text-decoration: none;
    color: white;
}

.carousel-item {
    max-width: 1145px;
    height: 415px;
    max-height: 415px;
}

#portfolioCarousel {
    margin:auto; 
    width:1145px; 
    height:415px;
}